<%- include nav/header %>
<form method="post" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputFile1">File input</label>
        <input type="file" name="file" id="exampleInputFile1">
    </div>
    <div class="form-group">
        <label for="exampleInputFile2">File input</label>
        <input type="file" name="file" id="exampleInputFile2">
    </div>
    <div class="form-group">
        <label for="exampleInputFile3">File input</label>
        <input type="file" name="file" id="exampleInputFile3">
    </div>
    <div class="form-group">
        <label for="exampleInputFile4">File input</label>
        <input type="file" name="file" id="exampleInputFile4">
    </div>
    <div class="form-group">
        <label for="exampleInputFile5">File input</label>
        <input type="file" name="file" id="exampleInputFile5">
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
</form>
<%- include nav/footer %>