/*body {
    padding: 10px 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 1024px;
    margin: 0 auto;
}

a {
    color: #00B7FF;
}

nav {
    float: left;
    width: 200px;
}


article {
    float: left;
    width: 824px;
    margin: 15px 0;
    padding: 0 20px;
}*/

nav.leftMenu a {
    display: block;
    margin: 15px 0;
}
article p img{
    width:100%;}