                </article>
            </div>
        </div>
    </div>
    <script src="/js/dist/jquery.js"></script>
    <script src="/dist/js/bootstrap.js"></script>
    <script src="/kindeditor/kindeditor-all-min.js"></script>
    <script src="/kindeditor/lang/zh-CN.js"></script>
    <script>
        var editor;
        KindEditor.ready(function (K) {
          editor = K.create('#exampleInputPassword1', {
            allowImageUpload :false,
            items: ['fontname','fontsize','|','forecolor','hilitecolor','bold','italic','underline','removeformat','|','justifyleft','justifycenter','justifyright',
            'insertorderedlist','insertunorderedlist','|','emoticons','image','link']
          });
        });
    </script>
</body>
</html>