<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><%= title %></h1>
</header>
<nav>
    <span><a class="btn btn-success btn-xs btn-block" href="/">主页</a></span>
    <span><a class="btn btn-warning btn-xs btn-block" href="/login">登录</a></span>
    <span><a class="btn btn-primary btn-xs btn-block" href="/reg">注册</a></span>
</nav>
<article>